body{
    margin: 0;
    background-color:lightblue;
}
h1{
    color: white;
    background-color: chocolate;
    text-align: center;
    font-family: arial;
    padding: 10px;
    margin: 0;
}
.test h2{
    margin: 0;
    color: lavender
}
.Test p{
    margin: 7px;
}
.Test{
    color: white;
    background-color: gray;
    padding: 10px;
    margin-top: 10px;
    font-size: 20;
    border: 5px darkgray solid;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.list{
    font-size: 20;
    color: white;
    background-color: deepskyblue;
    padding: 10px;
    margin-top: 10px;
    font-size: 20;
    border: 5px aqua solid;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.list h2{
    text-align: center;
     margin: 0;
    color: lavender
}
.list li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
        color: black;
}
.block{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 33.3%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}
.img{
    text-align: center;
}