body{
    background-color:white;
    text-align: center;
    color: white;
}
.t table{
    margin: auto;
    border-collapse: collapse;
}
.t tr{
    margin-top: 10px;
}
.t tr th{
    font-size: 30;
    margin: auto;
    padding-right:10px;
}
.t tr th:last-child{
    border-left: 2px solid black;
    border-bottom: none;
}
.t tr th:first-child{
    display: inline-block;
    border-bottom: none;
}
.t tr th img{
    margin: auto;
    vertical-align: middle;
    height: 48px;
    width: 48px;
    float: left;
    padding: 5px 10px 5px 10px;
}
.champ{
    background-color: gold;
}
.champl{
    background-color: blue;
}
.eurl{
    background-color: orange;
}
.eurq{
    background-color: green;
}
.title{
    background-color: black;
}
.rel{
    background-color: red;
}
.all{
    background-color: gray;
}